.MuiFormControl-root.MuiTextField-root.date__button {
  background-color: $main-color;
  border-radius: 15px;
  width: 160px;

  & .MuiOutlinedInput-root {
    position: static;
  }
  & .MuiInputBase-input {
    color: white;
  }
  & .MuiButtonBase-root {
    color: white;
  }
}
.MuiTextField-root {
  border: none;
}
