.MuiDialogContent-root {
  height: 550px;
  .food-wrapper {
    .food-type {
      color: #0f1824;
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid #e5e5e5;
    }
    .food-mode {
      display: flex;
      justify-content: center;
      .MuiInputBase-root {
        height: 40px;
        width: 200px;
        text-align: center;
      }
    }
    .food-select-form {
      margin-top: 50px;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      .chosen-food {
        width: 50%;
        .food-image {
          display: flex;
          justify-content: center;
          img {
            width: 200px;
            height: 200px;
          }
        }
        .food-name {
          position: relative;
          width: 200px;
          min-height: 36px;
          margin-top: 25px;
          font-size: 20px;
          color: #0f1824;
          font-weight: 400;
        }
        .list-food-drop-down {
          position: absolute;
          z-index: 99;
          width: 450px;
          min-height: 300px;
          max-height: 320px;
          overflow-y: auto;
          background-size: cover;
          background-image: url("../../../contains/flat-lay-vegetables-white-background-food-diet-concept_169016-20424.webp");
          top: 75px;
          padding: 15px;
          border: 1px solid #e5e5e5;
          border-radius: 10px;
          display: flex;
          flex-wrap: wrap;
          &::-webkit-scrollbar {
            width: 5px;
            height: 8px;
            color: #e5e5e5;
            background-color: #f5f5f5;
          }
          &::-webkit-scrollbar-thumb {
            background-color: darkgray;
          }
          &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            background-color: #f5f5f5;
          }
          .drop-item {
            padding: 5px;
            background-color: #f5f5f5;
            margin-left: 5px;
            margin-right: 5px;
            width: 100px;
            height: 120px;
            margin-bottom: 10px;
            cursor: pointer;
            img {
              width: 100%;
              height: 80px;
            }
          }
        }
      }
    }
    .custom-form-food {
      display: flex;
      flex-wrap: nowrap;
      .MuiInputBase-root {
        height: 40px;
        input {
          text-align: center;
        }
      }
      .food-info {
        .image {
          width: 100%;
          img {
            margin-left: 25px;
            width: 200px;
            height: 225px;
          }
        }
      }
    }
  }
}
.MuiDialogActions-root {
  padding-top: 15px;
  border-top: 1px solid #e5e5e5;
  button {
    width: 76px;
    &:nth-child(1) {
      margin-right: 20px;
    }
    &:nth-child(2) {
      margin-right: 15px;
    }
  }
}
