.recipe-body {
  margin-top: 120px;

  .search-bar {
    width: 70%;
    margin: 0 auto;
  }

  .body-contents {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;

    .item__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .item_top {
      margin-bottom: 40px;

      .item_top_content {
        display: flex;
        flex-wrap: nowrap;

        .suggestion-list {
          width: 90%;
          display: flex;
          flex-wrap: wrap;

          .suggestion-item {
            text-align: center;
            line-height: 80px;
            margin-right: 30px;
            width: 120px;
            height: 90px;
            border: 2px solid black;
            border-radius: 16px;
          }
        }

        .icon-list {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }
      }
    }

    .item_bottom {
      display: block;

      .suggestion-list-1 {
        display: flex;
        flex-wrap: wrap;

        .suggestion-item-1 {
          text-align: center;
          line-height: 80px;
          margin-right: 30px;
          width: 120px;
          height: 200px;
          border: 2px solid black;
          border-radius: 16px;
        }
      }
    }
  }
}
.tags-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  min-height: 48px;
  width: 800px;
  padding: 5px 8px;
  border: 3px solid #3ab19b;
  border-radius: 6px;

  input {
    border: none;
    width: 200px;
    font-size: 14px;

    &:focus {
      outline: transparent;
    }
    &::placeholder {
      font-family: "Kosugi Maru";
      font-size: 12px;
    }
  }
}

.tags-holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  background: #306bc3;
  &:nth-child(5n + 1) {
    background: rgb(221, 84, 84);
  }
  &:nth-child(5n + 2) {
    background: #306bc3;
  }
  &:nth-child(5n + 3) {
    background: #2bba81;
  }
  &:nth-child(5n + 4) {
    background: #dac949;
  }
  &:nth-child(5n) {
    background: #b447d8;
  }
  .tag-title {
    margin-top: 3px;
  }
  .tag-close-icon {
    display: block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin-left: 8px;
    color: #fff;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
  }
}
.button {
  width: 50px;
  &-search {
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    :hover {
      color: white;
      background-color: #3ab19b;
    }
  }
  &-icon {
    color: #3ab19b;
    width: 12px;
    height: 12px;

    border: 3px solid #3ab19b;
    border-radius: 50%;
    display: inline-block;
    padding: 6px;

    cursor: pointer;
  }
}
