.recipe-body {
  margin-top: 120px;

  .search-bar {
    width: 70%;
    margin: 0 auto;
  }

  .body-contents {
    padding-top: 30px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 50px;

    .item__title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 10px;
    }

    .item_top {
      margin-bottom: 40px;

      .item_top_content {
        display: flex;
        flex-wrap: nowrap;

        .suggestion-list {
          width: 90%;
          display: flex;
          flex-wrap: wrap;

          .suggestion-item {
            text-align: center;
            line-height: 80px;
            margin-right: 30px;
            width: 120px;
            height: 90px;
            border: 2px solid black;
            border-radius: 16px;
          }
        }

        .icon-list {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
        }
      }

    }

    .item_bottom {
      display: block;

      .suggestion-list-1 {
        display: flex;
        flex-wrap: wrap;

        .suggestion-item-1 {
          text-align: center;
          line-height: 80px;
          margin-right: 30px;
          width: 120px;
          height: 200px;
          border: 2px solid black;
          border-radius: 16px;
        }

      }
    }
  }
}