.register-form {
  color: #21b6ae;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  padding-top: 170px;

  .head {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 30px;

    svg {
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 0;
      left: -50px;
    }

    .head_title {
      font-size: 25px;

      font-weight: 700;
    }
  }

  .form-input {
    width: 100%;
    margin-left: 40px;
    margin-bottom: 10px;

    input {
      height: 25px;
      width: 400px;
    }

    .txt-label {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }

  .btn-forget {
    margin-left: 35px;
    margin-top: 5px;
    text-decoration: underline;
  }

  .btn-list {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-top: 20px;

    .signup-btn {
      width: 150px;
      height: 30px;
      margin: 0 auto;
      font-size: 16px;
    }

    .signin-btn {
      margin-top: 15px;
      font-size: 14px;
      text-decoration: underline;
    }
  }
}
