$main-bg: #fff;
$main-color: #3ab19b;
$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-white: #fff;

$header-height: 90px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
  "blue": #4267b2,
  "orange": #fbb96b,
  "pink": #fe7e73,
  "white": #fff,
  "black": #000,
  "main": $main-color,
  "red": #ff0000,
);
