
.dialog-wrapper {
  .MuiPaper-root {
    border-radius: 80px;
    width: 700px;
    height: 500px;
  }

  .MuiDialogContent-root {
    margin: 0 auto;

    img {
      width: 250px;
      height: 180px;
    }
  }

  .MuiDialogActions-root {
    display: flex;
    flex-flow: column;

    button {
      width: 50%;
      height: 40px;
    }
  }

  .dialog-title {
    display: flex;
    flex-wrap: nowrap;

    .title-content {
      width: 70%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      line-height: 3;
    }

    .close-btn {
      margin-right: 20px;
      margin-top: 10px;
    }
  }
}
