.Info {
  &-icon {
    font-size: 12px;
    color: #fe6a5e;
    border: 3px solid #fe6a5e;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: #fe6a5e;
      color: white;
      transition: background-color 0.3s ease, color 0.3s ease;
    }
  }
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  &__box {
    display: flex;
    flex-direction: column;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    & > * {
      display: inline-block;
    }
    h2 {
      word-wrap: break-word;
      line-break: strict;
    }
  }
  &__image {
    width: 400px;
    height: auto;
    margin: 0 auto;
  }
  &__ingredients {
    margin-top: 20px;
    font-size: 20px;
    &-item {
      font-size: 15px;
      margin-bottom: 3px;
      line-height: 25px;
      margin-left: 5px;
      &:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #3ab19b; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        transform: translate(-5px, -4px);
      }
    }
  }
  &__tutorial {
    margin-top: 20px;
    font-size: 20px;
    &-item {
      font-size: 15px;
      margin-bottom: 3px;
      line-height: 25px;
      margin-left: 5px;
    }
  }
}
