.card {
  &-title {
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    line-break: strict;
    justify-self: start;
    display: -webkit-box;
    max-width: 100%;
  white-space: normal;
  height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-subtitle {
    padding: 10px;
    font-size: 18px;
    color: gray;
  }
}
